<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Where are you from?</h1>
    <form action="/cities" method="POST">
        <h3>City:</h3><input type="text">
        <h3>State:</h3><input type="text">
        <input type="submit" value="Add City">
    </form>
</body>

</html>